{% extends "base.html" %}

{% block title %} Reset your password {% endblock title %}

{% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>Please enter you new password:</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Change my password"></p> 
        </form>
    {% else %}
        <p>The password link is invalid, probably because it was already used.</p>
        <p>Please request for a new password reset</p>
    {% endif %}
{% endblock content %}